parameters:
    level: 5
    paths:
        - src
    bootstrapFiles:
        - phpstan-bootstrap.php
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Call to an undefined static method Illuminate\\Support\\Facades\\[a-zA-Z]+\(.*\).#'
        - '#Call to an undefined method Illuminate\\Contracts\\Auth\\Factory::user\(\).#'
        - '#Call to function [a-zA-Z_]+\(\) with .* will always evaluate to true.#'
        - '#Property .* on left side of \?\? is not nullable.#'
        - '#Offset .* on left side of \?\? always exists and is not nullable.#'
        - '#Left side of && is always true.#'
        - '#Static method Illuminate\\Support\\Facades\\Schema::connection\(\) invoked with 0 parameters, 1 required.#'
        - '#Variable .* on left side of \?\? always exists and is not nullable.#'
        - '#Using nullsafe property access "\?\->value" on left side of \?\? is unnecessary.#'
    excludePaths:
        - dashboard/*
        - vendor/*
